.sumary-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--mat-sys-secondary-container);
  .separator {
    height: 1px;
    width: 100%;
    background-color: white;
  }
  .summary-item {
    display: flex;
    justify-content: space-between;
  }
}
