:host {
  margin: 1rem 0;
  width: 100%;
}

.cart-grid {
  flex: 4;
  padding: 1rem 0;
}

.summary-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

@media (min-width: 960px) {
  .cart-container {
    display: flex;
    gap: 1rem;
  }
}
