:host {
  margin: 1rem;
  width: 100%;
}

.cart-grid {
  flex: 4;
}

.summary-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  max-width: 700px;
}

@media (min-width: 1024px) {
  .cart-container {
    display: flex;
    gap: 1rem;
  }
}
