.content-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  height: 100%;
  .separator {
    height: 1px;
    width: 100%;
    background-color: var(--mat-sys-outline-variant);
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }

  .info-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .buy-button {
    height: 2.5rem;
    width: 100%;
  }
}
