header {
  background-color: var(--mat-sys-surface-container);
}

.header-toolbar {
  margin: 0 auto;
  max-width: 1400px;
  background-color: var(--mat-sys-surface-container);

  .logo {
    font: var(--mat-sys-headline-medium);
    font-weight: 500;
    color: var(--mat-sys-on-surface);
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .nav-links a {
    color: var(--mat-sys-on-surface);
  }

  .nav-icon {
    color: var(--mat-sys-primary);
  }

  .username,
  .logout-button {
    padding: 0.5rem 1rem;
    font: var(--mat-sys-body-medium);
  }
}
