header {
  // background-color: var(--mat-sys-surface-container);
  padding: 0.5rem;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.header-toolbar {
  margin: 0 auto;
  max-width: 1400px;
  // background-color: var(--mat-sys-surface-container);

  .logo {
    font-family: 'Shadows Into Light';
    // font: var(--mat-sys-headline-medium);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--mat-sys-on-surface);
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}

.nav-links {
  a {
    color: var(--mat-sys-on-surface);
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  .user-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
    .username {
      font-size: 1.2rem;
      // color: var(--mat-sys-primary);
    }
    .nav-icon {
      color: var(--mat-sys-primary);
    }
    .avatar-image {
      width: 3rem;
    }
  }

  .user-menu {
    // Styles of <mat-menu> only works on styles.scss file
  }
}
