header {
  // background-color: var(--mat-sys-surface-container);
  padding: 0.5rem;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.header-toolbar {
  margin: 0 auto;
  max-width: 1400px;
  // background-color: var(--mat-sys-surface-container);

  .logo {
    font-family: 'Shadows Into Light';
    // font: var(--mat-sys-headline-medium);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--mat-sys-on-surface);
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .nav-links a {
    color: var(--mat-sys-on-surface);
  }

  .nav-icon {
    color: var(--mat-sys-primary);
  }

  .username,
  .logout-button {
    padding: 0.5rem 1rem;
    font: var(--mat-sys-body-medium);
  }
}
