<header>
  <mat-toolbar class="header-toolbar">
    <a [routerLink]="['/products']"><span class="logo">DUMMY APP</span></a>
    <span class="example-spacer"></span>
    <nav class="nav-links">
      <a mat-button [routerLink]="['/products']">Products</a>
    </nav>
    <span class="example-spacer"></span>
    <nav class="nav-icons">
      <!-- CASE 1 - There is no session data -->
      @if (userData$ | async; as userData) {
        <button class="user-button" [matMenuTriggerFor]="menu" aria-label="user icon">
          <!-- <span class="username">{{ userData()?.username }}</span> -->
          @if (userData.image) {
            <img class="avatar-image" [src]="userData.image" alt="avatar image" />
          } @else {
            <mat-icon class="nav-icon">person</mat-icon>
          }
        </button>
        <mat-menu #menu="matMenu" class="user-menu">
          <div class="user-line">
            <img class="avatar-image" [src]="userData.image" alt="avatar image" />
            <div class="user-info">
              <span class="username">{{ userData.username }}</span>
              <p>{{ userData.firstName }} {{ userData.lastName }}</p>
            </div>
          </div>

          <button class="logout-button" mat-menu-item (click)="logout()">
            <mat-icon class="logout-icon">logout</mat-icon>
            Sign out
          </button>
        </mat-menu>
        <!-- CASE 1 - There is no session data -->
      } @else {
        <button class="user-button" [matMenuTriggerFor]="menu" aria-label="user icon">
          <mat-icon class="nav-icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="user-menu">
          <button class="logout-button" mat-menu-item [routerLink]="['/login']">
            <mat-icon class="logout-icon">login</mat-icon>
            Log in
          </button>
        </mat-menu>
      }
    </nav>
  </mat-toolbar>
</header>
