<header>
  <mat-toolbar class="header-toolbar">
    <a [routerLink]="['/products']"><span class="logo">DUMMY APP</span></a>
    <span class="example-spacer"></span>
    <nav class="nav-links">
      <a mat-button [routerLink]="['/products']">Products</a>
    </nav>
    <span class="example-spacer"></span>
    <nav class="nav-icons">
      <button matIconButton [matMenuTriggerFor]="menu" aria-label="user icon">
        <mat-icon class="nav-icon">person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span class="username">Username</span>
        <button class="logout-button" mat-menu-item>Logout</button>
      </mat-menu>
    </nav>
  </mat-toolbar>
</header>
