<section class="search-section">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Search by product name</mat-label>
    <input matInput />
  </mat-form-field>
</section>

@if (listState$ | async; as response) {
  <section class="pagination-section">
    <mat-paginator
      [length]="response.total"
      [pageSizeOptions]="[15, 25, 50, 100]"
      aria-label="Select page"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </section>
  <section>
    <div class="grid-container">
      @for (product of response.products; track product.id) {
        <div class="grid-cell">
          <app-product-card [product]="product"></app-product-card>
        </div>
      }
    </div>
  </section>
}
