:host {
  padding: 2rem;
  max-width: 1300px;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .form-field {
    width: 100%;
  }
}

.pagination-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .view-options {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
