:host {
  padding: 2rem;
  max-width: 1300px;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .form-field {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 1rem;
  padding-top: 1.5rem;
}
