<section class="search-section">
  <app-search-input class="form-field" (outputValue)="handleSearch($event)"></app-search-input>
</section>

@if (response$ | async; as response) {
  <section class="pagination-section">
    <div class="view-options">
      <span>See as: </span>
      <app-toggle-button
        (outputValue)="toggleView($event)"
        valueA="Grid"
        valueB="List"
      ></app-toggle-button>
    </div>

    <mat-paginator
      [length]="response.total"
      [pageSizeOptions]="[15, 25, 50, 100]"
      aria-label="Select page"
      [pageSize]="pageSize$.value"
      [pageIndex]="pageIndex$.value"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </section>
  <section>
    @if (isGrid()) {
      <app-product-grid
        [productList]="response.products"
        [pageSize]="pageSize$ | async"
        [pageIndex]="pageIndex$ | async"
        [inputValue]="inputValue$ | async"
      ></app-product-grid>
    } @else {
      <app-product-listing
        [productList]="response.products"
        [pageSize]="pageSize$ | async"
        [pageIndex]="pageIndex$ | async"
        [inputValue]="inputValue$ | async"
      ></app-product-listing>
    }
  </section>
}
