.product-card {
  padding: 0.5rem;
  .product-title {
    height: 56px;
    overflow: hidden;
  }
  .image-container {
    margin: 0 auto;
    // Avoid layout restructuration
    width: 100%;
    aspect-ratio: 1/1;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .star-icon {
    font-variation-settings: 'FILL' 1;
    color: rgb(241, 115, 31);
  }
}

.card-actions {
  display: flex;
  justify-content: space-between;
}
