.cart-card {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  .card-image {
    max-width: 180px;
  }
  .card-details {
    display: flex;
    gap: 0.5rem;
    padding-top: 1.5rem;
    width: 100%;
    .card-title {
      flex: 1;
    }
    .card-item {
      flex: 1;
      max-width: 100px;
    }
    .card-quantity {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .buttons-container {
        border: 1px solid var(--mat-sys-outline-variant);
      }
      .quantity-span {
        width: 2rem;
      }
    }
  }
}
