<section class="auth-section">
  <app-test-message></app-test-message>
  <mat-card class="auth-card" appearance="outlined">
    <mat-card-header class="auth-card-header">
      <mat-card-title>Welcome Again</mat-card-title>
      <mat-card-subtitle>Log in to your Dummy account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="auth-card-content">
      <form class="auth-form" [formGroup]="authForm" (ngSubmit)="handleLogin()">
        <mat-form-field class="auth-input" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" (blur)="updateUsernameMessage()" />
          <mat-icon matSuffix class="material-symbols-outlined">person</mat-icon>
          <!-- Material docs: -->
          @if (username.invalid) {
            <mat-error>{{ usernameMessage() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="auth-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" (blur)="updatePasswordMessage()" />
          <mat-icon matSuffix class="material-symbols-outlined">search</mat-icon>
          <!-- Material docs: -->
          @if (password.invalid) {
            <mat-error>{{ passwordMessage() }}</mat-error>
          }
        </mat-form-field>

        <button matButton="filled" type="submit">Login</button>
      </form>
    </mat-card-content>

    <span class="separator"></span>
    <mat-card-content>
      <p>
        Don't you have an account?
        <a matButton>Create a new one.</a>
      </p>
    </mat-card-content>
    @if (loginError()) {
      <mat-card-content>
        <mat-error>{{ loginError() }}</mat-error>
      </mat-card-content>
    }
  </mat-card>
</section>
