.summary-container-small {
  position: sticky;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: var(--mat-sys-secondary-container);
}

.cart-summary-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--mat-sys-secondary-container);
  .separator {
    height: 1px;
    width: 100%;
    background-color: white;
  }
  .summary-item {
    display: flex;
    justify-content: space-between;
  }
  .action-button {
    display: flex;
    justify-content: center;
    button {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }
  }
}

.cart-card-small {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  .card-image {
    max-width: 100px;
  }
  .card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-top: 1rem;
    .card-quantity {
      display: flex;
      flex-direction: row;

      gap: 1rem;
      .buttons-container {
        border: 1px solid var(--mat-sys-outline-variant);
        font-size: 0.8rem;
        .quantity-span {
          width: 2rem;
        }
      }
      .remove-button {
        color: var(--mat-sys-on-primary-fixed-variant);
      }
    }
  }
  .card-price {
    padding-top: 1rem;
    width: auto;
    font-size: 0.8rem;
  }
}

.cart-card-medium {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  .card-image {
    max-width: 180px;
  }
  .card-details {
    display: flex;
    gap: 0.5rem;
    padding-top: 1.5rem;
    width: 100%;
    .card-title {
      flex: 1;
    }
    .card-item {
      flex: 1;
      max-width: 100px;
    }
    .card-quantity {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .buttons-container {
        border: 1px solid var(--mat-sys-outline-variant);
      }
      .quantity-span {
        width: 2rem;
      }
    }
  }
}
