<mat-toolbar class="footer-toolbar">
  <div class="logo-container">
    <a [routerLink]="['/products']"><span class="logo">DUMMY APP</span></a>
    <span class="example-spacer"></span>
    <nav class="nav-links">
      <a mat-button [routerLink]="['/products']">Products</a>
    </nav>
  </div>
</mat-toolbar>
<mat-toolbar class="footer-toolbar">
  <div class="legal-container">
    <span>© 2026 Dummy App</span>
    <span class="example-spacer"></span>
    <div class="legal-links">
      <a href="">Privacy</a>
      <a href="">Cookies</a>
      <a href="">Terms</a>
    </div>
  </div>
</mat-toolbar>
