.footer-toolbar {
  flex-direction: column;
  padding: 0.5rem;
  height: auto;
  border-top: 1px solid var(--mat-sys-outline-variant);
  // background-color: var(--mat-sys-surface-container);
}

.example-spacer {
  flex: 1 1 auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  .logo {
    font-family: 'Shadows Into Light';
    // font: var(--mat-sys-headline-medium);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--mat-sys-on-surface);
  }
}

.legal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  font: var(--mat-sys-label-medium);
  .legal-links {
    display: flex;
    gap: 0.5rem;
  }
}
