.details-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  max-width: 1000px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 839px) {
  // Expanded size in Material Design 3
  .grid-container {
    grid-template-columns: 1fr;
  }
}
