:host {
  width: 100%;
  max-width: 1000px;
}

.details-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.details-header {
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  .card {
    min-height: 100%;
    max-width: 1000px;
  }
}
