<section class="details-section">
  <article class="details-header">
    <a matButton="elevated" [routerLink]="['/products']">&larr; Back</a>
  </article>
  @if (productState$ | async; as state) {
    @if (state.error) {
      <div class="message-container">
        <h2>Something went wrong.</h2>
      </div>
    }
    @if (state.loading) {
      <div class="message-container">
        <h2>Loading product...</h2>
      </div>
    } @else {
      @if (state.data; as product) {
        <div class="details-container">
          <div class="grid-container">
            <mat-card class="image-card" appearance="outlined">
              <img mat-card-image [src]="product.images[0]" [alt]="product.title" />
            </mat-card>

            <app-details-card [product]="product"></app-details-card>
          </div>
        </div>
      }
    }
  }
</section>
