// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  box-sizing: border-box;
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      // "densidad confort" inputs, botones y listas
      density: -2,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  color: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}

.user-menu {
  --mat-menu-container-color: var(--mat-sys-primary-container);
  width: 250px;

  .avatar-image {
    width: 3rem;
  }

  .user-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 12px;
    .username {
      font-size: 1.2rem;
    }
  }

  .logout-button {
    display: flex;
    justify-content: flex-start;
    gap: 0.2rem;
    .logout-icon {
      font-size: 1.4rem !important;
      margin: 0;
      padding: 0;
    }
  }
}

// ===============
// BREAK POINTS
// ===============

// sm	40rem (640px)	@media (width >= 40rem) { ... }
// md	48rem (768px)	@media (width >= 48rem) { ... }
// lg	64rem (1024px)	@media (width >= 64rem) { ... }
// xl	80rem (1280px)	@media (width >= 80rem) { ... }
// 2xl	96rem (1536px)	@media (width >= 96rem) { ... }

// ===================
// MATERIAL TYPOGRAPHY
// ===================

// --mat-sys-body-large
// --mat-sys-body-large-font
// --mat-sys-body-large-line-height
// --mat-sys-body-large-size
// --mat-sys-body-large-tracking
// --mat-sys-body-large-weight

// --mat-sys-body-medium
// --mat-sys-body-medium-font
// --mat-sys-body-medium-line-height
// --mat-sys-body-medium-size
// --mat-sys-body-medium-tracking
// --mat-sys-body-medium-weight

// --mat-sys-body-small
// --mat-sys-body-small-font
// --mat-sys-body-small-line-height
// --mat-sys-body-small-size
// --mat-sys-body-small-tracking
// --mat-sys-body-small-weight

// --mat-sys-display-large
// --mat-sys-display-large-font
// --mat-sys-display-large-line-height
// --mat-sys-display-large-size
// --mat-sys-display-large-tracking
// --mat-sys-display-large-weight

// --mat-sys-display-medium
// --mat-sys-display-medium-font
// --mat-sys-display-medium-line-height
// --mat-sys-display-medium-size
// --mat-sys-display-medium-tracking
// --mat-sys-display-medium-weight

// --mat-sys-display-small
// --mat-sys-display-small-font
// --mat-sys-display-small-line-height
// --mat-sys-display-small-size
// --mat-sys-display-small-tracking
// --mat-sys-display-small-weight

// --mat-sys-headline-large
// --mat-sys-headline-large-font
// --mat-sys-headline-large-line-height
// --mat-sys-headline-large-size
// --mat-sys-headline-large-tracking
// --mat-sys-headline-large-weight

// --mat-sys-headline-medium
// --mat-sys-headline-medium-font
// --mat-sys-headline-medium-line-height
// --mat-sys-headline-medium-size
// --mat-sys-headline-medium-tracking
// --mat-sys-headline-medium-weight

// --mat-sys-headline-small
// --mat-sys-headline-small-font
// --mat-sys-headline-small-line-height
// --mat-sys-headline-small-size
// --mat-sys-headline-small-tracking
// --mat-sys-headline-small-weight

// --mat-sys-label-large
// --mat-sys-label-large-font
// --mat-sys-label-large-line-height
// --mat-sys-label-large-size
// --mat-sys-label-large-tracking
// --mat-sys-label-large-weight
// --mat-sys-label-large-weight-prominent

// --mat-sys-label-medium
// --mat-sys-label-medium-font
// --mat-sys-label-medium-line-height
// --mat-sys-label-medium-size
// --mat-sys-label-medium-tracking
// --mat-sys-label-medium-weight
// --mat-sys-label-medium-weight-prominent

// --mat-sys-label-small
// --mat-sys-label-small-font
// --mat-sys-label-small-line-height
// --mat-sys-label-small-size
// --mat-sys-label-small-tracking
// --mat-sys-label-small-weight

// --mat-sys-title-large
// --mat-sys-title-large-font
// --mat-sys-title-large-line-height
// --mat-sys-title-large-size
// --mat-sys-title-large-tracking
// --mat-sys-title-large-weight

// --mat-sys-title-medium
// --mat-sys-title-medium-font
// --mat-sys-title-medium-line-height
// --mat-sys-title-medium-size
// --mat-sys-title-medium-tracking
// --mat-sys-title-medium-weight

// --mat-sys-title-small
// --mat-sys-title-small-font
// --mat-sys-title-small-line-height
// --mat-sys-title-small-size
// --mat-sys-title-small-tracking
// --mat-sys-title-small-weight

// ===================
// MATERIAL COLORS
// ===================

/* Primary */
// --mat-sys-primary
// --mat-sys-on-primary
// --mat-sys-primary-container
// --mat-sys-on-primary-container
// --mat-sys-primary-fixed
// --mat-sys-on-primary-fixed
// --mat-sys-on-primary-fixed-variant
// --mat-sys-primary-fixed-dim
// --mat-sys-inverse-primary

/* Secondary */
// --mat-sys-secondary
// --mat-sys-on-secondary
// --mat-sys-secondary-container
// --mat-sys-on-secondary-container
// --mat-sys-secondary-fixed
// --mat-sys-on-secondary-fixed
// --mat-sys-on-secondary-fixed-variant
// --mat-sys-secondary-fixed-dim

/* Tertiary */
// --mat-sys-tertiary
// --mat-sys-on-tertiary
// --mat-sys-tertiary-container
// --mat-sys-on-tertiary-container
// --mat-sys-tertiary-fixed
// --mat-sys-on-tertiary-fixed
// --mat-sys-on-tertiary-fixed-variant
// --mat-sys-tertiary-fixed-dim

/* Error */
// --mat-sys-error
// --mat-sys-on-error
// --mat-sys-error-container
// --mat-sys-on-error-container

/* Surface */
// --mat-sys-surface
// --mat-sys-on-surface
// --mat-sys-on-surface-variant
// --mat-sys-surface-bright
// --mat-sys-surface-container
// --mat-sys-surface-container-high
// --mat-sys-surface-container-highest
// --mat-sys-surface-container-low
// --mat-sys-surface-container-lowest
// --mat-sys-surface-dim
// --mat-sys-surface-tint
// --mat-sys-surface-variant
// --mat-sys-inverse-surface
// --mat-sys-inverse-on-surface

/* Miscellaneous */
// --mat-sys-background
// --mat-sys-on-background
// --mat-sys-neutral-variant20
// --mat-sys-neutral10
// --mat-sys-outline
// --mat-sys-outline-variant
// --mat-sys-scrim
// --mat-sys-shadow
